.footer a{text-decoration: none; color:white;}

.footer{
    color: white;
    justify-content: center;
    padding: 5px;
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 50px;
    background-color: black ;
    padding-top: 20px;
    font-size: 0.9em;
    font-family: 'Segoe UI';
    font-weight: bold;
    height: 300px;
}
    .footer ul{padding-left: 16px;}
        .footer li{font-weight: bold; padding-left: 0px; padding-right: 0px;}
            .li{font-family: 'Segoe UI'; list-style-type: square; }
                .footer-title{border-bottom: 1px solid white;}
                    .tekst-footer{margin-top: 10px;}


@media screen and (max-width: 750px){
    .prodcon{display: block; background-color:black;}
        .footer{text-align: justify; height: auto; display:block; }
            .footer ul{padding-left: 16px;}
                .footer li{padding-left: 0px; padding-right: 0px; list-style: square; }
                    .tekst-footer{margin: 0px;}
                .klasa{padding-bottom: 10px;}
}
