*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI'; 
    height: auto;
}

a{text-decoration: none;}

::-webkit-scrollbar {
    width: 17px;
}

::-webkit-scrollbar-thumb {
    background: lightgray; 
    border-radius: 1px;
}

.contener{
    height: auto;
    margin: 0;
    overflow-x: hidden;
    background: rgb(64, 224, 157);
}

.nnazwa{
    margin-left: auto;
    margin-right: auto;
    max-width: 1020px;
    background-color: white;
    font-weight: bold;
    color: black; 
    font-size: 30px; 
    padding: 10px;
    text-align: center;
}

#produkt-mobile{width: 250px; height: 250px; }

.nowosci {
    max-width: 100%;
    position: relative;
    margin-bottom: 10px;
}
    .produkty{
        height: auto;
        max-width: 1020px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        gap: 5.9px;
    }
        .item{
            padding-top: 20px; 
            padding-bottom: 10px; 
            background-color: white; 
            border: solid 1px rgb(209, 206, 206);
            width: 100%; 
            text-align: center;
        }
        .item p{
            text-align: center;
            color: black;
            font-size: 20px;
            margin-right: auto;
            margin-left: auto;
            width: 240px;
        }


    @media screen and (max-width: 710px) {
        .produkty{grid-template-columns: 100%;}
        .nowosci{margin: 15px;}
    }

  