*{
    box-sizing: border-box;
    margin: 0px 0px;
}

    ::-webkit-scrollbar {
        width: 17px;
    }
        ::-webkit-scrollbar-thumb {
            background: lightgray; 
            border-radius: 1px;
        }

a{
    text-decoration: none;
    color: black;
}

.contener{
    background: url("https://p0.pikist.com/photos/676/293/jellyfish-jelly-fish-aquarium-dark-wallpaper-underwater-fish-marine-sea.jpg"); 
    overflow-x: hidden;
}

        .prodcon{
            display: flex;
            flex-wrap: wrap;
            color:black;
            margin-left: 15px;
            margin-right: 15px;
        }

            .produkt{
                margin-left: 10px;
                padding-top:20px;
                padding-bottom: 20px;
                /* padding-right: 5%; */
                padding-left: 10px;
                width: 50%;
                background-color: ghostwhite;
                height: 650px;
            }

            #produkt-img{width: 100%; height: 500px;}
    
            /* Slideshow container */
            .slideshow-container {
            max-width: 584px;
            position: relative;
            }
    
            /* Next & previous buttons */
            .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -22px;
            color: black;
            font-weight: bold;
            font-size: 23px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
            background-color: white;
            }
    
            /* Position the "next button" to the right */
            .next {
            right: 0;
            border-radius: 3px 0 0 3px;
            }
    
            /* On hover, add a black background color with a little bit see-through */
            .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
            color: white;
            }
            .kropki{
                text-align:center; 
                max-width:100%;
            }
            /* The dots/bullets/indicators */
            .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
            }
    
            .active, .dot:hover {
            background-color: #717171;
            }
    
            /* Fading animation */
            .fade {
            animation-name: fade;
            animation-duration: 1.5s;
            }
    
            @keyframes fade {
            from {opacity: .4} 
            to {opacity: 1}
            }


            .info{
                height: auto;
                text-align: center;
                flex: 10%;
                margin-right: 10px;
                background-color:ghostwhite;
                
            }
        .opis{
            background-color: ghostwhite;
            height: auto;
            width: 100%;
            margin-left: 10px;
            margin-right: 10px; 
            overflow: hidden;
            font-size: 1.3rem;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-align: justify;
            padding-left: 15%;
            padding-right: 15%;
            padding-bottom: 20px;
        }
        .opis-btn{text-align: center;}
            .opis1{
                display: block;
            }

                .opis2{
                    display:none;
                }
                    #opis1-btn{
                        border-left: none;
                        border-right: none;
                        border-bottom: none;
                        border-top: 3px solid red;
                        background-color: ghostwhite;
                        font-size: 1.4em;
                        font-family: 'Segoe UI';
                        
                    }
                    #opis2-btn{
                        background-color: ghostwhite;
                        border-left: none;
                        border-right: none;
                        border-bottom: none;
                        border-top: none;
                        font-size: 1.4em;
                        font-family: 'Segoe UI';
                    }
                    .tabelka{
                        border-collapse: collapse;
                        width: 100%;
                        font-size: 1em;
                        background-color: ghostwhite;
                    }
                        .tabelka td{
                            border-top: 1px solid black;
                            border-left: 1px solid black;
                            border-right: 1px solid black;
                            border-bottom: 2px solid black;
                        }

            #tytul{
                font-family: 'Segoe UI';
                font-size: 2.2rem;
                text-align: left;
                padding-left: 10%;
            }
                #cena{
                    font-family: 'Verdana';
                    font-size: 2rem;
                    text-align: left;
                    padding-left: 10%;
                    color: rgb(45, 98, 177);
                    height: 100px;
                }
                    #rodzaj{
                        font-family: 'Segoe UI';
                        font-size: 1.6rem;
                        text-align: left;
                        padding-left: 10%;
                    }
                        .kolor-rodzaj{ 
                            display: flex; 
                            gap:5px; 
                            text-align: center; 
                            margin-left: 10%;
                            width: 100%;
                            margin-top: 1%;
                        }
                        .black{
                             background-color: black; 
                             border: 2px solid black ; 
                             border-radius: 10px; 
                             padding: 0.9rem 1px; 
                             width: 2.5rem;
                        }
                            .black:active{
                                transform: scale(0.9);
                            }
                               
                        .white{ 
                            background-color: whitesmoke; 
                            border: 2px solid black ; 
                            border-radius: 10px; 
                            padding: 0.9rem 1px; 
                            width: 2.5rem;
                        }
                            .white:active{
                                transform: scale(0.9);
                            }
                        .yellow{ 
                            background-color: yellow;
                            border: 2px solid black ; 
                            border-radius: 10px; 
                            padding: 0.9rem 1px;
                            width: 2.5rem;
                            }
                                .yellow:active{
                                    transform: scale(0.9);
                                }
                        .pink{ 
                            background-color: pink;
                            border: 2px solid black ; 
                            border-radius: 10px; 
                            padding: 0.9rem 1px;
                            width: 2.5rem;
                            }
                                .pink:active{
                                    transform: scale(0.9);
                                }
                        .purple{ 
                            background-color: purple;
                            border: 2px solid black ; 
                            border-radius: 10px; 
                            padding: 0.9rem 1px;
                            width: 2.5rem;
                            }
                                .purple:active{
                                    transform: scale(0.9);
                                }
                        .green{
                            background-color: greenyellow;
                            border: 2px solid black ; 
                            border-radius: 10px; 
                            padding: 0.9rem 1px;
                            width: 2.5rem;
                        }
                            .green:active{
                                transform: scale(0.9);
                            }
                        .darkgreen{
                            background-color: darkgreen;
                            border: 2px solid black ; 
                            border-radius: 10px; 
                            padding: 0.9rem 1px;
                            width: 2.5rem;
                        }
                            .darkgreen:active{
                                transform: scale(0.9);
                            }
                        .brown{
                            background-color: rgb(100, 44, 30);
                            border: 2px solid black ; 
                            border-radius: 10px; 
                            padding: 0.9rem 1px;
                            width: 2.5rem;
                        }
                            .brown:active{
                                transform: scale(0.9);
                            }
                        .blue{
                            background-color: blue;
                            border: 2px solid black ; 
                            border-radius: 10px; 
                            padding: 0.9rem 1px;
                            width: 2.5rem;
                        }
                            .blue:active{
                                transform: scale(0.9);
                            }
                        .orange{ 
                            background-color: orange; 
                            border: 2px solid black; 
                            border-radius: 10px; 
                            padding: 0.9rem 1px; 
                            width: 2.5rem;
                        }
                            .orange:active{
                                transform: scale(0.9);
                            }

                    #ilosc{
                        margin-top: 50px;
                        font-family: 'Segoe UI';
                        font-size: 1.6rem;
                        text-align: left;
                        padding-left: 10%;
                    }
                    #dostepnosc{
                        font-family: 'Segoe UI';
                        font-size: 0.9rem;
                        font-weight: bold;
                        color: black;
                        text-align: left;
                        padding-left: 10%;
                        height: 100px;
                    }
                #zakup{
                    margin-left: auto;
                    margin-right: auto;
                    width: 50%;
                    font-family: 'Segoe UI';
                    font-size: 1.6rem;
                    text-align: left;
                    padding-left: 10%;
                    width: 70%;
                    margin-left: auto;
                    margin-right: auto;
                }
            .btkup{
                width: 80%;
                height: 50px;
                font-size: 1.2rem;
                font-family: 'Segoe UI';
                border-radius: 4px;
                border: 1px solid transparent;
                background-color: lightgrey;
                min-width: 200px;
            }
                .btkup:active{transform: scale(0.9);}
            
            .up{
                display: inline-block;
                width: 2em;
                border-radius: 50%;
                font-size: 0.9rem;
                font-weight: bold;
            }
                .up:active{
                    transform: scale(0.9);
                    box-shadow: 0 0 0.4rem black;
                }
            .down{
                display: inline-block;
                width: 2em;
                border-radius: 50%;
                font-size: 0.9rem;
                font-weight: bold;
            }
                .down:active{
                    transform: scale(0.9);
                    box-shadow: 0 0 0.4rem black;
                }
        

                

@media screen and (min-width: 1700px) {
    .produkt{width: 35%}
    .info{width: 65%;}
}
@media screen and (max-width: 1699px) {
    .produkt{width: 40%}
    .info{width: 60%;}
}                  
@media screen and (max-width: 1580px) {
    .produkt{width: 40%}
    .info{width: 60%;}
}

@media screen and (max-width: 1460px) {
    .produkt{width: 45%}
    .info{width: 55%;}
}

@media screen and (max-width: 1250px) {
    .produkt{width: 55%}
    .info{width: 45%;}
    
}
@media screen and (max-width: 1000px){
        #ilosc{ margin-top: 1px;}
            #cena{height: 50px;}
        #dostepnosc{height: 80px;}
    .produkt{height: 550px; padding-bottom: 0px;}
    
}
/* ----------------------------------------------------------------------------------------------------------------- */
                                                /* Mobile version */
/* ----------------------------------------------------------------------------------------------------------------- */


@media screen and (max-width: 750px){
    .prodcon{display: block; background-color:ghostwhite;}
        .klasa{margin-top: 10px;}
                .opis{height: auto; padding-left: 7%; padding-right: 7%; margin: 0; font-size: 1.2rem;}
                    .thumbnails{padding: 0px;}
                        .produkt{width: 90%; justify-content: center; }
                    .slideshow-container{max-width: 100%;}
                .kropki{max-width:100%;}
            #zakup{padding-left:32px; margin: 0; margin-bottom: 5px;}
        .btkup{height: 40px; font-size: 1.3rem;}
    .info{ height: 520px;}
}

@media screen and (max-width: 680px){
            .produkt{padding-top: 10px;}
        #zakup{padding-left: 17px;}
    #tytul{font-size: 1.9rem;}

}
@media screen and (max-width: 590px) {
    .produkt{width: 90%; padding-left: 0;}
        #produkt-img{height: 400px;}
            .slideshow-container{max-width: 100%;}
        .kropki{max-width:100%;}
    .prev, .next{font-size: 12px; padding: 10px;}   
}
@media screen and (max-width: 480px){
    #produkt-img{height: 300px;}
    .produkt{height: 400px;}
}