* {
    box-sizing: border-box;

}

body {
    background: #1F2833;
    font-family: arial;
    font-size: 1em;
}




@media screen and (max-width:1000px){

    .flexi{
        font-size: 0.8em;
        
    }
    .flexf{
        font-size: 0.8em;
        
    }
    .flexa{
        font-size: 0.8em;
        
    }
    .flexp{
        font-size: 0.8em;
        
    }
    .flexh{
        font-size: 0.8em;
        
    }
    .buttonl{
        font-size: 0.8em;
    }
        
    
    
    
    }