*{
    box-sizing: border-box;
    margin: 0px 0px;
}

    ::-webkit-scrollbar {
        width: 17px;
    }
        ::-webkit-scrollbar-thumb {
            background: lightgray; 
            border-radius: 1px;
        }

a{
    text-decoration: none;
    color: black;
}

.contener{
    background: url("photos/wall.jpg");
    overflow-x: hidden;
}
.banner{

    width: 100%;
    background-color: darkred;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
}
 .header{
    background-color: transparent;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    
 }
    .logo{
        font-size: 2.7rem; 
        font-family:monospace; 
        width: 100%;
        /* color:black; */
        color:white;
    }
        .search{
            display: flex;
            padding-top: 5px;
            text-align: right;
            width: 40%;
            /* color:black; */
            color:white;
        }
            .icon1 {
                display: inline-flex;
                font-size: 15px;
                padding-top: 8px;
                padding-bottom: 8px;
                background: transparent;
                border: 2px solid white;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                /* color:black; */
                color:white;
            }
                #lupy1{display: inline-flex; border-top-left-radius: 6px; border-bottom-left-radius: 6px; padding-top: 5%; width: 25px; justify-content: center;}
                    #lupy2{display: none;}
                .icon2{
                    display: none;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    background: transparent;
                    border: 2px solid white;
                    border-top-right-radius: 6px;
                    border-bottom-right-radius: 6px;
                    font-size: 0.7rem;
                    width: 100%;
                    /* color:black; */
                    color:white;
                }
                .account{
                    padding-top:5px;
                    text-align: center;
                    width: 10%;
                    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-weight: bold;
                }
            .account a{
                text-decoration: none;
                /* color:black; */
                color:white;
            }   
        .cart{
            padding-top:5px;
            text-align: center;
            width: 10%;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: bold;
            
        }   
    
    #konto1{
        display: inline-flex;
    }
        #konto2{
            display: inline-flex;
        }
        #koszyk1{
            display: inline-flex;
            /* color:black; */
            color:white;
        }
    #koszyk2{
        display: inline-flex;
        /* color:black; */
        color:white;
    }

.menu{
    display: flex;
    justify-content: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    gap: 10%;
    overflow: hidden;
    /* color:black; */
    color:white;
}
    .dropdown1 span{
        cursor: pointer;
        text-align: center;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        font-size: 1.2rem;
    }
    .dropdown2 span{
        cursor: pointer;
        text-align: center;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        font-size: 1.2rem;
    }
    .dropdown3 span{
        cursor: pointer;
        text-align: center;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        font-size: 1.2rem;
    }
    .dropdown4 span{
        cursor: pointer;
        text-align: center;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        font-size: 1.2rem;
    }
    .dropdown5 span{
        cursor: pointer;
        text-align: center;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        font-size: 1.2rem;
    }
    .dropdown1{
        display: inline;
      }
        .dropdown2{
          display: inline;
        }
          .dropdown3{
            display: inline;
          }
          .dropdown4{
            display: inline;
          }
        .dropdown5{
          display: inline;
        }

            .dropdown1:hover .droplista1{display: block;}
              .dropdown2:hover .droplista2{display: block;}
                .dropdown3:hover .droplista3{display: block;}
                .dropdown4:hover .droplista4{display: block;}
              .dropdown5:hover .droplista5{display: block;}

        .droplista1{
            padding: 5px;
            z-index: 99;
            display: none;
            position: absolute;
            overflow: hidden;
            background-color: white;
            color: black;
            width: 20%;
            height: auto;
            opacity: 1;
            box-shadow: 0 0 20px black;
            text-align: center;
        }
        .droplista1 li {
            font-family: Helvetica;
            font-weight: bold;
            font-size: 15px;
            padding: 5px;
            list-style-type: none;
          }
          .droplista2{
            padding: 5px;
            z-index: 99;
            display: none;
            position: absolute;
            overflow: hidden;
            background-color: white;
            color: black;
            width: 20%;
            height: auto;
            opacity: 1;
            box-shadow: 0 0 20px black;
            text-align: center;
        }
        .droplista2 li {
            font-family: Helvetica;
            font-weight: bold;
            font-size: 15px;
            padding: 5px;
            list-style-type: none;
          }
          .droplista3{
            padding: 5px;
            z-index: 99;
            display: none;
            position: absolute;
            overflow: hidden;
            background-color: white;
            color: black;
            width: 20%;
            height: auto;
            opacity: 1;
            box-shadow: 0 0 20px black;
            text-align: center;
        }
        .droplista3  li {
            font-family: Helvetica;
            font-weight: bold;
            font-size: 15px;
            padding: 5px;
            list-style-type: none;
          }
          .droplista4{
            padding: 5px;
            z-index: 99;
            display: none;
            position: absolute;
            overflow: hidden;
            background-color: white;
            color: black;
            width: 20%;
            height: auto;
            opacity: 1;
            box-shadow: 0 0 20px black;
            text-align: center;
        }
        .droplista4 li {
            font-family: Helvetica;
            font-weight: bold;
            font-size: 15px;
            padding: 5px;
            list-style-type: none;
          }
          .droplista5{
            padding: 5px;
            z-index: 99;
            display: none;
            position: absolute;
            overflow: hidden;
            background-color: white;
            color: black;
            width: 20%;
            height: auto;
            opacity: 1;
            box-shadow: 0 0 20px black;
            text-align: center;
        }
        .droplista5 li {
            font-family: Helvetica;
            font-weight: bold;
            font-size: 15px;
            padding: 5px;
            list-style-type: none;
          }


        .prodcon{
            display: flex;
            flex-wrap: wrap;
            color:black;
            margin-left: 15px;
            margin-right: 15px;
        }

            .produkt{
                margin-left: 10px;
                padding-top:20px;
                padding-bottom: 20px;
                /* padding-right: 5%; */
                padding-left: 10px;
                width: 50%;
                background-color: ghostwhite;
                height: 650px;
            }

            #produkt-img{width:100%; height: 80%;}
    
            /* Slideshow container */
            .slideshow-container {
            max-width: 100%;
            position: relative;
            }
    
            /* Next & previous buttons */
            .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -22px;
            color: black;
            font-weight: bold;
            font-size: 23px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
            background-color: white;
            }
    
            /* Position the "next button" to the right */
            .next {
            right: 0;
            border-radius: 3px 0 0 3px;
            }
    
            /* On hover, add a black background color with a little bit see-through */
            .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
            color: white;
            }
            .kropki{
                text-align:center; 
                max-width:100%;
            }
            /* The dots/bullets/indicators */
            .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
            }
    
            .active, .dot:hover {
            background-color: #717171;
            }
    
            /* Fading animation */
            .fade {
            animation-name: fade;
            animation-duration: 1.5s;
            }
    
            @keyframes fade {
            from {opacity: .4} 
            to {opacity: 1}
            }


            .info{
                height: auto;
                text-align: center;
                flex: 10%;
                margin-right: 10px;
                background-color:ghostwhite;
                
            }
        .opis{
            background-color: ghostwhite;
            height: auto;
            width: 100%;
            margin-left: 10px;
            margin-right: 10px; 
            overflow: hidden;
            font-size: 1.3rem;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-align: justify;
            padding-left: 15%;
            padding-right: 15%;
            padding-bottom: 20px;
        }
        .opis-btn{text-align: center;}
            .opis1{
                display: block;
            }

                .opis2{
                    display:none;
                }
                    #opis1-btn{
                        border-left: none;
                        border-right: none;
                        border-bottom: none;
                        border-top: 3px solid red;
                        background-color: ghostwhite;
                        font-size: 1.4em;
                        font-family: 'Segoe UI';
                        
                    }
                    #opis2-btn{
                        background-color: ghostwhite;
                        border-left: none;
                        border-right: none;
                        border-bottom: none;
                        border-top: none;
                        font-size: 1.4em;
                        font-family: 'Segoe UI';
                    }
                    .tabelka{
                        border-collapse: collapse;
                        width: 100%;
                        font-size: 1em;
                        background-color: ghostwhite;
                    }
                        .tabelka td{
                            border-top: 1px solid black;
                            border-left: 1px solid black;
                            border-right: 1px solid black;
                            border-bottom: 2px solid black;
                        }

            #tytul{
                font-family: 'Segoe UI';
                font-size: 2.2rem;
                text-align: left;
                padding-left: 10%;
            }
                #cena{
                    font-family: 'Verdana';
                    font-size: 2rem;
                    text-align: left;
                    padding-left: 10%;
                    color: rgb(45, 98, 177);
                    height: 100px;
                }
                    #rodzaj{
                        font-family: 'Segoe UI';
                        font-size: 1.6rem;
                        text-align: left;
                        padding-left: 10%;
                    }
                        .kolor-rodzaj{ 
                            display: flex; 
                            gap:5px; 
                            text-align: center; 
                            margin-left: 10%;
                            width: 100%;
                            margin-top: 1%;
                        }
                        .black{
                             background-color: black; 
                             border: 2px solid black ; 
                             border-radius: 10px; 
                             padding: 0.9rem 1px; 
                             width: 2.5rem;
                        }
                            .black:active{
                                transform: scale(0.9);
                            }
                               
                        .white{ 
                            background-color: whitesmoke; 
                            border: 2px solid black ; 
                            border-radius: 10px; 
                            padding: 0.9rem 1px; 
                            width: 2.5rem;
                        }
                            .white:active{
                                transform: scale(0.9);
                            }
                        .yellow{ 
                            background-color: yellow;
                            border: 2px solid black ; 
                            border-radius: 10px; 
                            padding: 0.9rem 1px;
                            width: 2.5rem;
                            }
                                .yellow:active{
                                    transform: scale(0.9);
                                }
                        .pink{ 
                            background-color: pink;
                            border: 2px solid black ; 
                            border-radius: 10px; 
                            padding: 0.9rem 1px;
                            width: 2.5rem;
                            }
                                .pink:active{
                                    transform: scale(0.9);
                                }
                        .green{
                            background-color: lightgreen;
                            border: 2px solid black ; 
                            border-radius: 10px; 
                            padding: 0.9rem 1px;
                            width: 2.5rem;
                        }
                            .green:active{
                                transform: scale(0.9);
                            }
                        .darkgreen{
                            background-color: darkgreen;
                            border: 2px solid black ; 
                            border-radius: 10px; 
                            padding: 0.9rem 1px;
                            width: 2.5rem;
                        }
                            .darkgreen:active{
                                transform: scale(0.9);
                            }
                        .brown{
                            background-color: rgb(100, 44, 30);
                            border: 2px solid black ; 
                            border-radius: 10px; 
                            padding: 0.9rem 1px;
                            width: 2.5rem;
                        }
                            .brown:active{
                                transform: scale(0.9);
                            }
                        .blue{
                            background-color: blue;
                            border: 2px solid black ; 
                            border-radius: 10px; 
                            padding: 0.9rem 1px;
                            width: 2.5rem;
                        }
                            .blue:active{
                                transform: scale(0.9);
                            }
                        .orange{ 
                            background-color: orange; 
                            border: 2px solid black; 
                            border-radius: 10px; 
                            padding: 0.9rem 1px; 
                            width: 2.5rem;
                        }
                            .orange:active{
                                transform: scale(0.9);
                            }

                    #ilosc{
                        margin-top: 50px;
                        font-family: 'Segoe UI';
                        font-size: 1.6rem;
                        text-align: left;
                        padding-left: 10%;
                    }
                    #dostepnosc{
                        font-family: 'Segoe UI';
                        font-size: 0.9rem;
                        font-weight: bold;
                        color: black;
                        text-align: left;
                        padding-left: 10%;
                        height: 100px;
                    }
                #zakup{
                    font-family: 'Segoe UI';
                    font-size: 1.6rem;
                    text-align: left;
                    padding-left: 10%;
                    width: 70%;
                    margin-left: auto;
                    margin-right: auto;
                }
            .btkup{
                width: 90%;
                height: 10%;
                font-size: 1.2rem;
                font-family: 'Segoe UI';
                border-radius: 4px;
                border: 1px solid transparent;
                background-color: lightgrey;
                min-width: 200px;
            }
                .btkup:active{transform: scale(0.9);}
            
            .up{
                display: inline-block;
                width: 2em;
                border-radius: 50%;
                font-size: 0.9rem;
                font-weight: bold;
            }
                .up:active{
                    transform: scale(0.9);
                    box-shadow: 0 0 0.4rem black;
                }
            .down{
                display: inline-block;
                width: 2em;
                border-radius: 50%;
                font-size: 0.9rem;
                font-weight: bold;
            }
                .down:active{
                    transform: scale(0.9);
                    box-shadow: 0 0 0.4rem black;
                }
        
    .podobne{
        margin-right: 25px;
        margin-left: 25px;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 1.4em;
        font-family: 'Segoe UI';
        background-color: ghostwhite;
        text-align: center;
    }
        .podobne_zdjecia{
            scroll-snap-type: x mandatory;
            width: auto;
            height: auto;
            display: flex;
            overflow-x: auto;
            gap: 20px;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 1%;
        }
            .item{
                scroll-snap-align: start;
                width: 300px;
                flex-shrink: 0;
                height: auto;
                font-size: 0.8em;
                font-family: 'Segoe UI';
                text-align: center;
            }

.footer{
    justify-content: center;
    padding: 5px;
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 50px;
    background-color: whitesmoke ;
    padding-top: 20px;
    font-size: 0.9em;
    font-family: 'Segoe UI';
    font-weight: bold;
    height: 9rem;
}
    .footer ul{padding-left: 16px;}
        .footer li{font-weight: bold; padding-left: 0px; padding-right: 0px;}
            .li{font-family: 'Segoe UI'; list-style-type: square; }
                .footer-title{border-bottom: 1px solid black;}
                    .tekst-footer{margin-top: 10px;}

@media screen and (min-width: 1700px) {
    .produkt{width: 35%}
    .info{width: 65%;}
}
@media screen and (max-width: 1699px) {
    .produkt{width: 40%}
    .info{width: 60%;}
}                  
@media screen and (max-width: 1580px) {
    .produkt{width: 40%}
    .info{width: 60%;}
}

@media screen and (max-width: 1460px) {
    .produkt{width: 45%}
    .info{width: 55%;}
}

@media screen and (max-width: 1250px) {
    .produkt{width: 55%}
    .info{width: 45%;}
    
}
@media screen and (max-width: 1000px){
    .menu{display: flex; width: 60%; padding-top: 0.5%; padding-bottom: 0.5%; gap: 8%; margin-left: auto; margin-right: auto; overflow: hidden;}
        #ilosc{ margin-top: 1px;}
            #cena{height: 50px;}
        #dostepnosc{height: 80px;}
    .produkt{height: 500px; padding-bottom: 0px;}
    
}
/* ----------------------------------------------------------------------------------------------------------------- */
                                                /* Mobile version */
/* ----------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 900px){
    #lupy1{padding-top: 10px;}
    .header{margin-left: 5%; margin-right: 0%;}
        .logo{width: 50%; font-size: 2rem;}
            .account{width: 11%;}
                .cart{width: 11%;}
                    #konto1{font-size: 2rem;}
                            #konto2{display: none;}
                        #koszyk1{font-size: 2rem;}
                    #koszyk2{display: none;}
                #ikony{display: none;}
            .menu{padding-top: none; padding-bottom: none; gap: 3%;}
}


@media screen and (max-width: 750px){
    .menu li{font-size: 1rem;}
        .icon1{display: none;}
            #lupy1{display: none;}
                #lupy2{display: inline-flex; border-top-left-radius: 6px; border-bottom-left-radius: 6px; padding-top: 5px; width: 29px; justify-content: center;}
                    .icon2{display: inline-flex;}
                        .prodcon{display: block; background-color:ghostwhite;}
                            .footer{text-align: justify; height: auto; display:block;}
                                .footer ul{padding-left: 16px;}
                                    .footer li{padding-left: 0px; padding-right: 0px; list-style: square; }
                                        .tekst-footer{margin: 0px;}
                                            .klasa{margin-top: 10px;}
                                            .podobne{margin-top: 10px; margin-left: 15px; margin-right: 15px;}
                                        .opis{height: auto; padding-left: 7%; padding-right: 7%; margin: 0; font-size: 1.2rem;}
                                    .droplista1{list-style:none;}
                                .droplista2{list-style:none; width: 30%;}
                            .droplista3{list-style:none;}
                        .droplista4{list-style:none;}
                    .droplista5{list-style:none;}
                .thumbnails{padding: 0px;}
            .produkt{width: 90%; margin-left: 25px; }
        .slideshow-container{max-width: 80%; margin-left: 10%;}
    .kropki{max-width:80%;}
    #zakup{padding-left:32px; margin: 0;}
    .btkup{height: 40px; font-size: 1.3rem;}


}

@media screen and (max-width: 680px){
    .menu li{font-size: 0.9rem; list-style-type: none;}
        .menu{overflow: visible; gap: 5%;}
            .podobne_zdjecia{gap:0px;}
                .item{ width: 350px; margin-bottom:5px;}
                    .produkt{padding-top: 10px;}
                        .dropdown1 span{font-size: 1em;}
                    .dropdown2 span{font-size: 1em;}
                .dropdown3 span{font-size: 1em;}
            .dropdown4 span{font-size: 1em;}
        .dropdown5 span{font-size: 1em;}
    .banner{font-size: 1rem;}
    #zakup{padding-left: 17px;}

}
@media screen and (max-width: 590px) {
    .produkt{width: 90%; padding-left: 0;}
        .slideshow-container{max-width: 100%; margin-left: 0;}
        .kropki{max-width:100%;}
    .prev, .next{font-size: 12px; padding: 10px;}    
}
@media screen and (max-width: 480px){
    .thumbnails li{height: 120px;}
        .thumbnails img {width: 120px; height: 120px;}
        .slides{height: 300px;}
    .slides img {width: 240px; height: 300px;}

}