*{
    box-sizing: border-box;
    margin: 0px;
}


.contener{
    background-color: white;
}
.banner{
    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
}
 .header{
    background-color: white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    
 }
    .logo{
        font-size: 2.7rem; 
        font-family:monospace; 
        width: 100%;
    }
        .search{
            padding-top: 5px;
            text-align: right;
            width: 30%;
            
        }
            .icon1 {
                display: inline-flex;
                font-size: 15px;
                padding-top: 8px;
                padding-bottom: 8px;
                padding-left: 25px;
                background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
                background-size: 20px;
                border: 2px solid black;
                border-radius: 6px;
            }
                .icon2{
                    display: none;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    padding-left: 25px;
                    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
                    background-size: 20px;
                    border: 2px solid black;
                    border-radius: 6px;
                    font-size: 0.7rem;
                    width: 90%;
                }
                .account{
                    padding-top:5px;
                    text-align: center;
                    width: 10%;
                    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-weight: bold;
                }
            .account a{
                text-decoration: none;
                color: black;
                
            }   
        .cart{
            padding-top:5px;
            text-align: center;
            width: 10%;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: bold;
        }   
    .cart a{
        text-decoration: none;
        color: black;
    }
    
    #konto1{
        display: inline-flex;
    }
        #konto2{
            display: inline-flex;
        }
        #koszyk1{
            display: inline-flex;
        }
    #koszyk2{
        display: inline-flex;
    }

.menu{
    display: flex;
    width: 50%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    gap: 10%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    
}
    .dropdown1 span{
        cursor: pointer;
        text-align: center;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        font-size: 1.2rem;
    }
    .dropdown2 span{
        cursor: pointer;
        text-align: center;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        font-size: 1.2rem;
    }
    .dropdown3 span{
        cursor: pointer;
        text-align: center;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        font-size: 1.2rem;
    }
    .dropdown4 span{
        cursor: pointer;
        text-align: center;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        font-size: 1.2rem;
    }
    .dropdown5 span{
        cursor: pointer;
        text-align: center;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        font-size: 1.2rem;
    }
    .dropdown1{
        display: inline;
      }
        .dropdown2{
          display: inline;
        }
          .dropdown3{
            display: inline;
          }
          .dropdown4{
            display: inline;
          }
        .dropdown5{
          display: inline;
        }

            .dropdown1:hover .droplista1{display: block;}
              .dropdown2:hover .droplista2{display: block;}
                .dropdown3:hover .droplista3{display: block;}
                .dropdown4:hover .droplista4{display: block;}
              .dropdown5:hover .droplista5{display: block;}

        .droplista1{
            z-index: 99;
            display: none;
            position: absolute;
            width: 30%;
            overflow: hidden;
            opacity: 1;
            box-shadow: 0 0 10px;
        }
        .droplista1 li {
            color: white;
            font-family: Helvetica;
            font-weight: lighter;
            font-size: 15px;
            padding: 5px;
            background-color: black;
          }
          .droplista2{
            z-index: 99;
            display: none;
            position: absolute;
            width: 30%;
            overflow: hidden;
            opacity: 1;
            box-shadow: 0 0 10px;
        }
        .droplista2 li {
            color: white;
            font-family: Helvetica;
            font-weight: lighter;
            font-size: 15px;
            padding: 5px;
            background-color: black;
          }
          .droplista3{
            z-index: 99;
            display: none;
            position: absolute;
            width: 30%;
            overflow: hidden;
            opacity: 1;
            box-shadow: 0 0 10px;
        }
        .droplista3 li {
            color: white;
            font-family: Helvetica;
            font-weight: lighter;
            font-size: 15px;
            padding: 5px;
            background-color: black;
          }
          .droplista4{
            z-index: 99;
            display: none;
            position: absolute;
            width: 30%;
            overflow: hidden;
            opacity: 1;
            box-shadow: 0 0 10px;
        }
        .droplista4 li {
            color: white;
            font-family: Helvetica;
            font-weight: lighter;
            font-size: 15px;
            padding: 5px;
            background-color: black;
          }
          .droplista5{
            z-index: 99;
            display: none;
            position: absolute;
            width: 30%;
            overflow: hidden;
            opacity: 1;
            box-shadow: 0 0 10px;
        }
        .droplista5 li {
            color: white;
            font-family: Helvetica;
            font-weight: lighter;
            font-size: 15px;
            padding: 5px;
            background-color: black;
          }


        .prodcon{
            display: flex;
            position: relative;
            flex-wrap: wrap;
            background-color:ghostwhite;
        }

            #produkt{
                margin-left: 10px;
                margin-top: 10px;
                width: 50%;
                position: relative;
            }
                div#produkt{
                    overflow: hidden;
                }
                    div#produkt figure img{ 
                        width: 20%;
                        height: 730px;   
                        float: left; 
                    }
                        div#produkt figure{ 
                        position: relative;
                        width: 500%;
                        height: 80%;
                        margin: 0;
                        left: 0;
                        transition: 1s ease-in-out;
                        }
        
                            .prawy, .lewy{
                            position: absolute;
                            top: 40%;
                            cursor: pointer;
                            color: white;
                            background: transparent;
                            padding: 20px;
                            font-size: 40px;
                            border:none;
                            }
        
                        .lewy{
                        left: 0px;
                        }
                    .prawy{
                    right: 0px;
                    }
            .info{
                text-align: center;
                flex: 10%;
                margin-top: 10px;
                margin-right: 10px;
            }
        .opis{
            background-color:ghostwhite;
            height: 15em;
            padding: 30px 20px;
            width: 100%;
            margin-left: 10px;
            margin-right: 10px; 
            overflow: hidden;
            font-size: 1.3rem;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            padding-left: 15%;
            padding-right: 15%;
        }
            .opis1{
                display: block;
                margin-top: 2%;
            }

                .opis2{
                    display:none;
                    margin-top: 2%;
                }
                    #opis1-btn{
                        border-left: none;
                        border-right: none;
                        border-bottom: none;
                        border-top: 3px solid red;
                        background-color: ghostwhite;
                        font-size: 1.4em;
                        font-family: 'Segoe UI';
                        
                    }
                    #opis2-btn{
                        border-left: none;
                        border-right: none;
                        border-bottom: none;
                        border-top: none;
                        background-color: ghostwhite;
                        font-size: 1.4em;
                        font-family: 'Segoe UI';
                    }
                    .tabelka{
                        border-collapse: collapse;
                        width: 100%;
                        font-size: 1em;
                    }
                        .tabelka td{
                            border-top: 1px solid lightgray;
                            border-left: 1px solid lightgray;
                            border-right: 1px solid lightgray;
                            border-bottom: 2px solid lightgray;
                        }

            #tytul{
                font-family: 'Segoe UI';
                font-size: 2.2rem;
                text-align: left;
                padding-left: 10%;
            }
                #cena{
                    font-family: 'Verdana';
                    font-size: 2rem;
                    text-align: left;
                    padding-left: 10%;
                    color: rgb(192, 38, 38);
                }
                    #rodzaj{
                        font-family: 'Segoe UI';
                        font-size: 1.6rem;
                        text-align: left;
                        padding-left: 10%;
                    }
                        .kolor-rodzaj{ 
                            display: flex; 
                            gap:5px; 
                            text-align: center; 
                            margin-left: 10%;
                            width: 100%;
                            margin-top: 1%;
                        }
                        .black{
                             background-color: black; 
                             border: 2px solid black ; 
                             border-radius: 10px; 
                             padding: 0.9rem 1px; 
                             width: 2.5rem;
                        }
                            .black:active{
                                transform: scale(0.9);
                            }
                               
                        .white{ 
                            background-color: whitesmoke; 
                            border: 2px solid black ; 
                            border-radius: 10px; 
                            padding: 0.9rem 1px; 
                            width: 2.5rem;
                        }
                            .white:active{
                                transform: scale(0.9);
                            }
                        .yellow{ 
                            background-color: yellow;
                            border: 2px solid black ; 
                            border-radius: 10px; 
                            padding: 0.9rem 1px;
                            width: 2.5rem;
                            }
                                .yellow:active{
                                    transform: scale(0.9);
                                }
                        .orange{ 
                            background-color: orange; 
                            border: 2px solid black; 
                            border-radius: 10px; 
                            padding: 0.9rem 1px; 
                            width: 2.5rem;
                        }
                            .orange:active{
                                transform: scale(0.9);
                            }

                    #ilosc{
                        font-family: 'Segoe UI';
                        font-size: 1.6rem;
                        text-align: left;
                        padding-left: 10%;
                    }
                    #dostepnosc{
                        font-family: 'Segoe UI';
                        font-size: 0.9rem;
                        font-weight: bold;
                        color: black;
                        text-align: left;
                        padding-left: 10%;

                    }
                #zakup{
                    font-family: 'Segoe UI';
                    font-size: 1.6rem;
                    text-align: left;
                    padding-left: 10%;
                }
            .btkup{
                width: 90%;
                height: 7%;
                font-size: 1.2rem;
                
            }
            
            .up{
                display: inline-block;
                width: 2em;
                border-radius: 50%;
                font-size: 0.9rem;
                font-weight: bold;
            }
                .up:active{
                    transform: scale(0.9);
                    box-shadow: 0 0 0.4rem black;
                }
            .down{
                display: inline-block;
                width: 2em;
                border-radius: 50%;
                font-size: 0.9rem;
                font-weight: bold;
            }
                .down:active{
                    transform: scale(0.9);
                    box-shadow: 0 0 0.4rem black;
                }
        
        
        /* Mobile version */
    @media screen and (max-width: 1250px){
        
        


    }

    @media screen and (max-width: 750px) {
        .menu li{
            font-size: 1rem;
        }
        .icon1{
            display: none;
        }
        
        .icon2{
            display: inline-flex;
        }
    }
    
    
    @media screen and (max-width: 680px) {
        .menu li{
            font-size: 0.8rem;
        }
    }
    
    @media screen and (max-width: 900px) {
        .header{
            margin-left: 5%;
            margin-right: 0%;
        }
        .logo{
          width: 50%;
          font-size: 2rem;
        }

        .account{
            width: 11%;
        }
        .cart{
            width: 11%;
        }

        #konto1{
            font-size: 2rem;

        }
            #konto2{
                display: none;
            }
            #koszyk1{
                font-size: 2rem;

            }
        #koszyk2{
            display: none;
        }
        #ikony{
            display: none;
        }
    }