*{
  box-sizing: border-box;
  margin: 0px;
}

li {
  list-style-type:square;
}

.promocja-bar{
  background-color: black;
  color: white;
  font-size: 14px;
  font-family: Cambria;
  font-weight: bold;
  text-align: center;
  height: 50px;
  padding: 15px 0px;
}

          /* MENU */
.nav {
    width: 90%;
    height: auto;
    position: relative;
    margin-left: 60px;
    margin-right: 50px;
    overflow: visible;
    font-family: Calibri;
}
.rows{
  display: grid;
}
  .row1{
    margin-top: 10px;
    width: 110%;
    float: right;
  }

    #row1-przerwa {
      margin-left: 120px;
    }
    .info{
      float: right;
      width: 50%;
    }
      .info_spany{
        padding: 5px 6px;
        font-size: 16px;
      }

    #logo{
      width:250px; 
      height:auto; 
      float:left; 
      padding:10px 20px; 
      margin-left:40px; 
      margin-top:10px;
    }


    .row2-1{
      float: right;
      width: 38%;
      padding: 5px 0px;
      margin-top: 25px;
    }
  .searchbar{
    padding: 13px 40px;
  }

  .nav_bottom{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 10px;
    margin-left: 200px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;

  }

  .dropdown1{
    display: inline-block;
    position: relative;
  }
    
    .dropdown2{
      display: inline-block;
      position: relative;
    }
      .dropdown3{
        display: inline-block;
      position: relative;
      }
      .dropdown4{
        display: inline-block;
      position: relative;
      }
    .dropdown5{
      display: inline-block;
      position: relative; 
    }
  .dropdown6{
    display: inline-block;
    position: relative;
  }
        .dropdown1:hover .droplista1{display: block;}
          .dropdown2:hover .droplista2{display: block;}
            .dropdown3:hover .droplista3{display: block;}
            .dropdown4:hover .droplista4{display: block;}
          .dropdown5:hover .droplista5{display: block;}
        .dropdown6:hover .droplista6{display: block;}



  .droplista1{
    display: none;
    position: absolute;
    width: 200%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0);
    opacity: 0.9;
    box-shadow: 0px 10px 10px 0px;
  }

  .droplista1 li {
    color: white;
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 15px;
    padding: 5px;
    background-color: black;
  }


  
.droplista2{
  display: none;
  position: absolute;
  width: 150%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0);
  opacity: 0.9;
  box-shadow: 0px 10px 10px 0px;

}
.droplista2 li {
  color: white;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 15px;
  padding: 5px;
  background-color: black;
}


.droplista3{
  display: none;
  position: absolute;
  width: 200%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0);
  opacity: 0.9;
  box-shadow: 0px 10px 10px 0px;
}
.droplista3 li {
  color: white;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 15px;
  padding: 5px;
  background-color: black;
}


.droplista4{
  display: none;
  position: absolute;
  width: 150%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0);
  opacity: 0.9;
  box-shadow: 0px 10px 10px 0px;
}
.droplista4 li {
  color: white;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 15px;
  padding: 5px;
  background-color: black;
}


.droplista5{
  display: none;
  position: absolute;
  width: 150%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0);
  opacity: 0.9;
  box-shadow: 0px 10px 10px 0px;
}
.droplista5 li {
  color: white;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 15px;
  padding: 5px;
  background-color: black;
}


.droplista6{
  display: none;
  position: absolute;
  width: 150%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0);
  opacity: 0.9;
  box-shadow: 0px 10px 10px 0px;
}
.droplista6 li {
  color: white;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 15px;
  padding: 5px;
  background-color: black;
}


  .opcja-1{
    cursor: pointer;
  }
    .opcja-2{
      cursor: pointer;
    }
      .opcja-3{
        cursor: pointer;
      }
    .opcja-4{
      cursor: pointer;
    }
  .opcja-5{
    cursor: pointer;
  }
.opcja-6{
  cursor: pointer;
}
      .opcja-1:hover{
        color: darkred;
      }
        .opcja-2:hover{
          color: darkred;
        }
          .opcja-3:hover{
            color: darkred;
          }
          .opcja-4:hover{
            color: darkred;
          }
        .opcja-5:hover{
          color: darkred;
        }
      .opcja-6:hover{
        color: darkred;
      }

.a1{
  text-decoration: none; 
  color:black; 
  cursor: pointer;
}
.a2{
  text-decoration: none; 
  color:black; 
  cursor: pointer;
}



            /* MENU */

      /* Moblie menu */
  .nav_mobile{
    display: none;
  }



      /* Mobile menu */
    

.slajdy{
  position: static;
  display: flex;
}
  .slajdy img{
    display: block;
    width: 100%;
    max-height: 300px;
  }



  @media screen and (max-width: 1300px){
    #row1-przerwa {
      margin-left: 50px;
    }
    .nav_bottom{
      margin-left: 30px;
    }
    .opcja-1{
      width: 140%;
    }
      .opcja-2{
        width: 140%;
      }
        .opcja-3{
          width: 140%;
        }
      .opcja-4{
        width: 140%;
      }
    .opcja-5{
      width: 140%;
    }
  .opcja-6{
    width: 140%;
  }
  }
    @media screen and (max-width: 1250px){
      .row2-1{
        width: 45%;
      }
    }

      @media screen and (max-width: 1200px){
        #row1-przerwa {
          margin-left: 0px;
        }
        .droplista3{
          width: 300%;
        }
      }




    @media screen and (max-width: 1100px){
      .nav{
        margin-left: 0px;
        margin-right: 0px;
      }
      .slajdy{
        display: grid;
        width: 90%;
        padding: 5px 40px;
        margin-left: auto;
        margin-right: auto;
      }
    }

  @media screen and (max-width: 1055px){
    .nav_bottom{
      display: none;
    }
    #zl{
      display: none;
    }
    .row1{
     padding: 0px 20px;
    }
      .row2-1{
        display: none;
      }
    .row1{
      display: none;

    }
  }

    @media screen and (max-width: 1055px){
      .promocja-bar{
        background-color: white;
        height: 30px;
        padding: 0px;
      }
        #promo{
          display: none;
        }
      .nav{
        width: auto;
        border: 1px solid black;
        border-left: hidden;
        border-right: hidden;
        margin-left:0px;
        margin-right: 0px;
        
      }
      .nav_mobile{
        display: flex;
        width: auto;
        height: 100%;
        float: right;
        
      }
        .row2{
          width: 100%;
        }
      
      .slajdy{
        padding: 0px;
        margin-right: 0px;
        margin-top: 2px;
        margin-left: 0px;
        width: auto;
      }
      
      
      #logo{
        width: 170px;
      }

    
    }
    