* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background: #1F2833;
    font-family: arial;
    font-size: 1em;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .zdjecia_column {
    display: grid;
    grid: auto / auto auto auto;
    padding: 5px 120px;
    gap: 15px 5px;
  }

ul {
    padding-inline-start: 0px;
}
@media screen and (max-width:1000px){
    .zdjecia_column {
        padding: 1px 30px;  
        gap: 10px 5px; 
    }
                
    
    
}
